@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
   font-family: "Poppins", sans-serif;
}
body
{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  background-color: #234C6A;
}
.main-container
{
  background-color: #fff;
  width: 800px;
  height: 500px;
  display: flex;
}
.box
{
  width: 400px;
  background-image: url('https://media.istockphoto.com/id/1411854870/vector/diet-plan-concept.jpg?s=612x612&w=0&k=20&c=rqCudWc8UXQYyteZ3JgG2lKce_iJ_7mltXVfvO5BEo4=');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.box-text
{
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 190px;
  align-items: center;
  color: #234C6A;
  font-style: oblique;
}
.content
{
  margin-top: 30px;
  padding: 20px;
}
.content h1{
  color: #22a6b3;
  text-shadow: 1px 1px 2px #000;
  font-size: 19px;
  text-align: center;
  margin-bottom: 20px;
}
.height,.weight
{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.error
{
  padding: 10px 0;
  color: red;
  font-size: 14px;
}
input
{
  width: 400px;
  padding: 2px;
  font-size: 19px;
  border-radius: 4px;
  border: 1px solid #888;
}
input:focus
{
  outline: none;
}
label
{
  color: #888;
  font-size: 14px;
}
.button
{
  display: flex;
  gap: 20px;
  margin-top: 12px;
}
.button button
{
  padding: 5px 10px;
}
.button button:first-child
{
  background-color: #22a6b3;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: 0.5s;
}
.button button:last-child
{
  background-color: rgb(180, 11, 11);
  color: #fff;
   border: none;
  border-radius: 4px;
}
.button button:first-child:hover
{
   background-color: #32dae9;
}
.button button:last-child:hover
{
  background-color: rgb(235, 11, 11);
}
.result
{
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  font-size: 13px;
}
.result p:first-child
{
  color: #22a6b3;
}


@media screen and (min-width:300px) and (max-width:767px){
  body
{
  font-family: 'Poppins', sans-serif;
  width: 100%;
}
  .main-container
{
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.box
{
  width: 100%;
  background-image: url('https://media.istockphoto.com/id/1411854870/vector/diet-plan-concept.jpg?s=612x612&w=0&k=20&c=rqCudWc8UXQYyteZ3JgG2lKce_iJ_7mltXVfvO5BEo4=');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.box-text
{
  font-size: 15px;
  text-transform: uppercase;
  color: #234C6A;
  font-style: oblique;
  display: flex;
  justify-content: start;
  padding: 12px;
}
.content
{
  padding: 20px;
}
.content h1{
  color: #22a6b3;
  text-shadow: 1px 1px 2px #000;
  font-size: 19px;
  text-align: center;
}
.height,.weight
{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.error
{
  padding: 10px 0;
  color: red;
  font-size: 14px;
}
input
{
  width:100%;
  padding: 2px;
  font-size: 19px;
  border-radius: 4px;
  border: 1px solid #888;
}
input:focus
{
  outline: none;
}
label
{
  color: #888;
  font-size: 14px;
}
.button
{
  display: flex;
  gap: 20px;

}
.button button
{
  padding: 5px 10px;
}
.button button:first-child
{
  background-color: #22a6b3;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: 0.5s;
}
.button button:last-child
{
  background-color: rgb(180, 11, 11);
  color: #fff;
   border: none;
  border-radius: 4px;
}
.button button:first-child:hover
{
   background-color: #32dae9;
}
.button button:last-child:hover
{
  background-color: rgb(235, 11, 11);
}
.result
{
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  font-size: 13px;
}
.result p:first-child
{
  color: #22a6b3;
}

}